__pycache__/
*.py[cod]
*.pyo
src/texto.txt
example = [[' ', ' ', ' ', ' ', ' ', ' ', ' ', '#', 'E', ' ', ' ', '#', ' ', '#', '#', '#', '#'], ['#', ' ', '#', '#', '#', '#', ' ', '#', '#', '#', ' 
', ' ', ' ', '#', '#', '#', '#'], ['#', ' ', '#', '#', ' ', ' ', ' ', '#', '#', '#', ' ', '#', ' ', '#', '#', '#', '#'], ['#', '#', '#', '#', ' ', '#', ' ', ' ', ' ', ' ', ' ', '#', ' ', ' ', ' ', ' ', ' '], ['#', '#', '#', '#', ' ', '#', '#', '#', '#', '#', '#', '#', ' ', '#', '#', '#', '#'], ['#', ' ', ' ', ' ', ' ', '#', '#', ' ', ' ', ' ', ' ', '#', ' ', '#', '#', '#', '#'], ['#', ' ', '#', '#', ' ', ' ', ' ', ' ', 
'#', '#', ' ', ' ', ' ', ' ', ' ', ' ', ' '], ['#', ' ', '#', '#', '#', '#', '#', ' ', '#', '#', ' ', '#', '#', '#', '#', '#', '#'], ['#', ' 
', '#', '#', ' ', ' ', ' ', ' ', '#', '#', ' ', '#', '#', '#', '#', '#', '#'], ['#', ' ', '#', '#', ' ', '#', '#', '#', '#', '#', ' ', '#', '#', '#', '#', '#', '#'], ['#', ' ', '#', '#', ' ', '#', '#', '#', '#', '#', ' ', '#', '#', '#', '#', '#', '#'], ['#', ' ', '#', '#', ' ', '#', '#', '#', '#', '#', ' ', ' ', ' ', ' ', ' ', ' ', '#'], ['#', ' ', '#', '#', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '#', '#', '#', '#', ' ', '#'], ['#', ' ', '#', '#', '#', '#', ' ', '#', ' ', '#', ' ', ' ', '#', '#', '#', ' ', '#'], ['#', ' ', '#', '#', '#', '#', ' ', '#', ' ', '#', '#', ' ', '#', '#', '#', ' ', '#'], ['#', ' ', '#', '#', '#', '#', ' ', '#', ' ', '#', '#', ' ', '#', '#', '#', ' ', '#'], ['#', ' ', ' ', ' ', ' ', ' ', ' ', '#', ' ', '#', '#', ' ', '#', '#', '#', ' ', '#'], ['#', '#', '#', '#', '#', '#', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 
' ', ' ', '#'], ['#', '#', '#', '#', '#', '#', '#', '#', 'S', '#', '#', '#', '#', '#', '#', ' ', '#']]